<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <link rel="stylesheet" href="../static/menustyle.css">
   <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
   
</head>
<body>
    <div class="menu">

        <div class="menu_buttons">
            <button class="btn"><i class="fas fa-video"></i></button>
             <span>New meeting</span>
            </div>

        <div class="menu_buttons">
        <button class="btn"><i class="fa fa-plus-square" aria-hidden="true" ></i></button> 
         <span>Join meeting</span>
         </div>

    </div>
     </body>
        </html>
